body{background: url(../images/experimentDetail_bg.png) top center repeat;}
.dborder{border: 1px solid #3c817e;}
.second-title span:before{content: '';width: 3px;height: 20px;background: #3c807d;display: block;float: left;margin-top: 7px;margin-right: 10px;}
.second-title span.fc-white:before{background: #fff;}

.experimentDetailContainer{padding-bottom: 90px;}

.part1 .head{background: url(../images/title_bg.png) center no-repeat;padding: 1px 0;}

.part2{background: url(../images/experimentReport_bg_part1.png) bottom center no-repeat;}
.part2-contain{height: 228px;}
.part2-contain .coursePost,.part1-contain .courseMsg,.part1-contain .courseContent{height: 100%;}
.part2-contain .coursePost{position: relative;width: 358px;}
.part2-contain .coursePost img{display: block;width: 100%;height: 100%;}
.part2-contain .coursePost p{position: absolute;bottom: 0;left: 0;width: 100%;background: url(../images/courseName_bg.png) repeat;line-height: 40px;}
.part2-contain .courseMsg{width: 220px;height: 228px;}
.part2-contain .courseContent{width: 455px;height: 228px;}
.part2-contain .courseContent .courseContent-text{min-height: 60px;max-height: 80px; overflow-y: auto;}
.part2-contain .courseContent ul li{width: 60px;}
.part2-contain .courseContent ul li img{display: block;width: 40px;height: 40px;border-radius: 50%;margin: 0 auto;}
.part2-contain .courseContent ul li span{display: block;text-align: center;}


.part3 .leftPart .stuReportEdit{background: url(../images/greatReport.png) 400px 70px no-repeat;}
.part3 .leftPart{width: 768px;}
.part3 .leftPart .stuInfo table{width:100%;border: 1px solid #ddd;border-right: none;border-bottom: none;border-collapse: collapse;}
.part3 .leftPart .stuInfo table tr{height: 35px;padding: 0;border: none;}
.part3 .leftPart .stuInfo table tr td{border: 1px solid #ddd;border-left: none;border-top: none;font-size: 14px;}
.part3 .testCtrPart.hideTable{border: 1px solid #ccc;height:500px;overflow:auto;}
.part3 .testCtrPart.hideTable p{text-align: center;}
.part3 .testCtrPart tr{padding: 0;border: none;}
.part3 .testCtrPart table{border: 1px solid #ddd;border-right: none;border-bottom: none;border-collapse: collapse;}
.part3 .testCtrPart td{border: 1px solid #ddd;border-left: none;border-top: none;}
.part3 .testCtrPart td p{padding:0;margin: 0;}
.part3 .testCtrPart img{display:block;width:70%;margin:0 auto;}
.part3 .wrong{color: red;background: #ffe3e3;}
.part3 .true{color: green;background: #def9e3;}
.part3 .reportCtr .hideTable{display: none;}

.part3 .leftPart .teacherComment{border: 1px solid #ccc;padding: 10px 20px;}
.part3 .leftPart .teacherComment .score tr{padding: 0;border: none;}
.part3 .leftPart .teacherComment .score table{border: 1px solid #ccc;border-right: none;border-bottom: none;border-collapse: collapse;}
.part3 .leftPart .teacherComment .score td{border: 1px solid #ccc;border-left: none;border-top: none;}
.part3 .leftPart .teacherComment .score th{border: 1px solid #ccc;border-left: none;border-top: none;}
.part3 .leftPart .teacherComment .score td p{padding:0;margin: 0;}
.part3 .leftPart .teacherComment .score img{display:block;width:70%;margin:0 auto;}
.part3 .leftPart .teacherComment .comment .teacherCommentContain{border: 1px dashed #ccc;}

.part3 .rightPart{width: 290px;}
.part3 .rightPart .greatReport .GreatReportList{max-height: 350px;overflow-y: auto;}
.part3 .rightPart .greatReport .GreatReportList li{border-bottom: 1px dashed #3c807d;cursor: pointer;}
.part3 .rightPart .greatReport .GreatReportList li .name i{display: block;width: 12px;height: 12px;}
.part3 .rightPart .qrCode .qrImg{position: relative;}
.part3 .rightPart .qrCode .qrImg img.code{position: absolute;width: 70px;height: 70px;top: 50px;right: 36px;}
.part3 .rightPart .qrCode .qrImg img.bg{width: 100%;}
.part3 .rightPart .downloadBtn .reportDownload,.part3 .rightPart .downloadBtn .trueAnswerDownload{width: 271px;height: 97px;cursor: pointer;}
.part3 .rightPart .downloadBtn .reportDownload .p1,.part3 .rightPart .downloadBtn .trueAnswerDownload .p1{width: 126px;}
.part3 .rightPart .downloadBtn .reportDownload{background: url(../images/reportDownload.png) center center no-repeat;}
.part3 .rightPart .downloadBtn .reportDownload:hover{background: url(../images/reportDownload_hover.png) center center no-repeat;}
.part3 .rightPart .downloadBtn .trueAnswerDownload{background: url(../images/trueAnswerDownload.png) center center no-repeat;}
.part3 .rightPart .downloadBtn .trueAnswerDownload:hover{background: url(../images/trueAnswerDownload_hover.png) center center no-repeat;}