@charset "utf-8";
/* 红色 */
/*全站默认字体颜色*/
a{color:#333}a:hover,a:focus,.maincolor,.maincolor a{color:#06c}
.navbar{ background:#77131a}/*顶部导航*/
	.navbar-logo,.navbar-logo-m,.navbar-slogan,.navbar-userbar{color:#fff}/*logo 及 用户信息文字颜色*/
	.navbar-logo:hover,.navbar-logo-m:hover{color:#fff;text-decoration: none}
	
.navbar-nav > ul > li, .navbar-nav > ul > li > a{ color:#fff}/*顶部导航文字颜色*/
.navbar-userbar > ul> > li,.navbar-userbar > ul> > li > a{ color:#fff}

.Hui-aside{}/*侧边栏*/
	.Hui-aside .menu_dropdown dt{color:#ffd7d9}/*左侧二级导航菜单*/
	.Hui-aside .menu_dropdown dt:hover{/*color:#77131a*/ background: #a51a23;}
	.Hui-aside .menu_dropdown dt:hover [class^="icon-"]{ color:#7e8795}
	.Hui-aside .menu_dropdown li a{color:#ffd7d9;border-bottom: 1px solid #e5e5e5}
	.Hui-aside .menu_dropdown li a:hover{color:#77131a;background-color:#e0b3b5}
	.Hui-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{color:#148cf1}
	.Hui-aside .menu_dropdown dt .Hui-iconfont{ color:#ffd7d9}
	.Hui-aside .menu_dropdown dt .menu_dropdown-arrow{ color:#ffd7d9}	
	.dislpayArrow a{background:url(icon_arrow.png) no-repeat 0 0}
.tabBar {border-bottom: 2px solid #77131a}
.tabBar span.current{background-color:#77131a}


.useravatar{
	background: url(avatar_border.png);
}

.Hui-aside{
	background: #77131a;
}

.Hui-aside .menu_dropdown dt{
	border-bottom: 1px solid #da8b91;
}