* {
    padding: 0px;
    margin: 0px;
}

ul, li {
    list-style-type: none;
}

body {
    font-size: 14px;
    font-family: 微软雅黑;
    min-width:1200px;
}

a {
    color: #fff;
    text-decoration: none;
    border: none;
}

.clear {
    clear: both;
}

.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.clearfix{
	*zoom:1;
	overflow: hidden;
}

/*顶部*/
.header {
    width: 100%;
    height: 34px;
    background-color: #2e2e2e;
}

.header .top {
    width: 1200px;
    height: 34px;
    margin: 0px auto;
    color: #fff;
}

.header .top .left {
    float: left;
    padding-left: 15px;
}

.header .top .left .title {
    float: left;
    font-size: 12px;
    line-height: 34px;
}

.header .top .left .content {
    float: left;
    width: 600px;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    font-size: 12px;
}

.header .top .left .content ul li {
    line-height: 34px;
}

.header .top .right {
    float: right;
    font-size: 14px;
    line-height: 34px;
    position: relative;
}

.header .top .right span {
    float: left;
}

.header .top .right .name {
    display: block;
    height: 34px;
    float: left;
    /* width: 76px; */
    text-align: center;
}

.header .top .right ul {
    position: absolute;
    right: 0px;
    top: 34px;
    text-align: center;
    font-size: 12px;
    background-color: #545353;
}

.header .top .right ul li {
    height: 32px;
    line-height: 32px;
    padding: 0px 14px;
}

.header .top .right ul .info {
    border-bottom: 1px dashed #4C4C4C;
}

.header .top .right ul li:hover {
    background-color: #2e2e2e;
}

/*logo栏*/
.nav {
    width: 100%;
    height: 65px;
    background-color: #2b73a0;
}

.nav .bottom {
    width: 1200px;
    height: 65px;
    margin: 0px auto;
}

.nav .bottom .logo {
    padding: 5px 0px;
    float:left;
}

.nav .bottom .logo img {
    border: none;
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.nav .bottom .title {
	float:left;
	font-size:24px;
	color:#fff;
	line-height:65px;
	margin-left:20px;
	letter-spacing:1px;
	
}

/*中心区域*/
.core {
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

.core .content {
    width: 1200px;
    height: auto;
    margin: 0px auto;
}

.core .content .title {
    text-align: center;
    line-height: 50px;
    color: #ff7f26;
    font-size: 22px;
    padding-top: 10px;
}

.core .content .subtitle {
    text-align: center;
    color: #020106;
    font-size: 14px;
    line-height: 20px;
    /* margin-bottom: 10px; */
}

.core .content ul li {
    float: left;
    width: 240px;
    /* height: 222px; */
    padding: 20px 0px;
    overflow: hidden;
}

.core .content ul li img {
    border-radius: 50%;
    border: none;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0px auto;
}

.core .content ul li .corename {
    text-align: center;
    color: #333333;
    line-height: 40px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
}

.core .content ul li .corename-other{
	text-align: center;
    color: #999;
    line-height: 40px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
}

.core .content ul li .corename:hover {
    color: #2b73a0;
}

.core .content ul li .coreintroduce {
    padding: 0px 25px;
    font-size: 12px;
    text-align:center;
}

/*长图部分*/
.picture {
    width: 100%;
    height: 270px;
    background-image: url("../images/content-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 20px; */
    margin-bottom:40px;
}

.picture .content {
    width: 1200px;
    height: 270px;
    margin: 0px auto;
    position: relative;
}

.picture .content .title {
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
    padding-top: 10px;
}

.picture .content .subtitle {
    text-align: center;
    color: #020106;
    font-size: 14px;
    line-height: 20px;
}

.picture .content ul {
    position: absolute;
    bottom: 15px;
}

.picture .content ul li {
    float: left;
    width: 500px;
    height: 160px;
    background-image: url("../images/li-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 160px;
}

.picture .content ul li:hover {
    box-shadow: 1px 4px 10px 2px #CCCCCC;
    -webkit-box-shadow: 1px 4px 10px 2px #CCCCCC;
    transform: translateY(-2%);
    -moz-transform: translateY(-2%);
    -webkit-transform: translateY(-2%);
    -o-transform: translateY(-2%);
    -ms-transform: translateY(-2%);
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    -ms-transition: all .4s;
}

.picture .content ul li .icon {
    display: block;
    width: 90px;
    height: 90px;
    float: left;
    margin: 30px 40px auto 40px;
    border: none;
}

.picture .content ul .administration,
.picture .content ul .resource {
    margin: 0 50px;;
}

.picture .content ul li .fonts {
    float: left;
    padding: 38px 0px;
    width:280px;
    cursor:pointer;
}

.picture .content ul li .fonts .corename1,
.picture .content ul li .fonts .corename2,
.picture .content ul li .fonts .corename3 {
   /*  padding-left: 15px; */
    line-height: 35px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    display: block;
}

.picture .content ul li .fonts .corename1 {
    color: #73ff16;
}

.picture .content ul li .fonts .corename2 {
    color: #1d87ff;
}

.picture .content ul li .fonts .corename3 {
    color: #ff3e93;
}

.picture .content ul li .fonts .coreintroduce {
    font-size: 12px;
    line-height: 25px;
}

/*脚部*/
.footer {
   /*  position: fixed; */
    background-color: #222;
    width: 100%;
    height: 55px;
    bottom: 0px;
	color:#fff;
}

.footer .footer_content {
    width: 1200px;
    height: 45px;
    margin: 0px auto;
    padding-top: 15px;
}

.footer .footer_content ul li {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
}


/*修改页面部分样式*/
/* .core{margin: 60px auto 120px;}
.core .content ul li{width:300px;} */