
/*主体*/
.password-main {
	min-height:80vh;
    background-color: #f5f5f5;
}

/*位置导航栏*/
.password-main .main-bar {
    width: 1200px;
    height: 20px;
    line-height: 20px;
    color: #848484;
    margin: 0px auto 10px auto;
    padding-top: 10px;
    font-size: 14px;
}

.password-main .main-bar span {
    float: left;
}

.password-main .main-bar span i {
    color: #1781b3;
}

.password-main .main-bar a {
    color: #848484;
    float: left;
}

.password-main .main-bar a:hover {
    text-decoration: underline;
    color: #c03;
}

/*内容*/
.password-main .password-content {
    width: 1200px;
    margin: 0px auto 30px auto;
    background-color: #fff;
}

/*密码修改*/
.password-main .password-content .password {
    width: 1100px;
    margin: 0px auto;
}

.password-main .password-content .password .title {
    padding-top: 20px;
    border-bottom: 1px dashed #D8D8D8;
}

.password-main .password-content .password .title .span-1 {
    font-size: 18px;
    line-height: 30px;
    color: #1781b3;
}

.password-main .password-content .password .revisecontent {
    margin-left: 250px;
   padding: 100px 0px;
}

.password-main .password-content .password .revisecontent .form-group {

}

.password-main .password-content .password .revisecontent .form-group .password-name {
    width: 100px;
    text-align: right;
    float: left;
}

.password-main .password-content .password .revisecontent .form-group .text-input {
    float: left;
    width: 400px;
}

.password-main .password-content .password .revisecontent .form-group .text-input .password-input {
    width: 390px;
    padding: 10px 5px;
}

/*按钮*/
.password-main .password-content .btn {
    text-align: center;
    margin: 50px auto 0px;
    padding-bottom: 50px;

}

.password-main .password-content .btn button {
    padding: 8px 20px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: all .4s ease;
    outline: none;
    text-align: center;
    letter-spacing: 1px;
    background-color: #2c92d2;
    color: #fff;
    font-size: 16px;
}

.password-main .password-content .btn button:hover {
    background-color: #e44 !important;
    cursor: pointer;
}

/*validform*/
.Validform_checktip {
    height: 25px;
    overflow: hidden;
    color: #999;
    font-size: 12px;
    float: left;
}

.Validform_right {
    color: #71b83d;
    padding-left: 15px;
    background: url(../images/right.png) no-repeat left top;
}

.Validform_wrong {
    color: red;
    padding-left: 15px;
    white-space: nowrap;
    background: url(../images/error.png) no-repeat left top;
}

.Validform_loading {
    padding-left: 15px;
    background: url(../images/onLoad.gif) no-repeat left top;
}

.Validform_error {
    background-color: #ffe7e7;
}

#Validform_msg {
    color: #7d8289;
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
    width: 280px;
    -webkit-box-shadow: 2px 2px 3px #aaa;
    -moz-box-shadow: 2px 2px 3px #aaa;
    background: #fff;
    position: absolute;
    top: 0px;
    right: 50px;
    z-index: 99999;
    display: none;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');
}

#Validform_msg .iframe {
    position: absolute;
    left: 0px;
    top: -1px;
    z-index: -1;
}

#Validform_msg .Validform_title {
    line-height: 25px;
    height: 25px;
    text-align: left;
    font-weight: bold;
    padding: 0 8px;
    color: #fff;
    position: relative;
    background-color: #000;
}

#Validform_msg a.Validform_close:link, #Validform_msg a.Validform_close:visited {
    line-height: 22px;
    position: absolute;
    right: 8px;
    top: 0px;
    color: #fff;
    text-decoration: none;
}

#Validform_msg a.Validform_close:hover {
    color: #cc0;
}

#Validform_msg .Validform_info {
    padding: 8px;
    border: 1px solid #000;
    border-top: none;
    text-align: left;
}