@CHARSET "UTF-8";

.cl:after,.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.cl,.clearfix{zoom:1}
.btnGroup{padding:30px 0;}

.addQuestionsContain{padding:20px;}
.addQuestionsContain .txt{}
.addQuestionsContain .nav{display:block;border-bottom:1px solid #1e6269;}
.addQuestionsContain .nav li{display:block;float:left;padding:0 20px;font-size:14px;height:35px;line-height:35px;cursor:pointer;color:#1e6269;border:1px solid #fff;border-bottom:0;}
.addQuestionsContain .nav li:hover{border:1px solid #1e6269;border-bottom:0;}
.addQuestionsContain .nav li.selected{color:#FFF;font-size:16px;background:#1e6269;cursor:default;border:1px solid #1e6269;border-bottom:0;}
.addQuestionsContain .checktable{border-bottom:1px solid #1e6269;padding:20px 20px 60px;}
.addQuestionsContain .checktable .checktable_uncheck{display:none;}
.tips{padding:10px 0;}
.tips p{margin:0;}
.tips .p3 span{padding:0 5px;color:#666;}
.tips .p1 input,.tips .p5 input{width: 40px; border: 1px solid #ccc;margin: 0 5px;height: 20px;}


.choice_table .tbody tr.checked{background:#fff;}
.choice_table .tbody tr.checked td{border-top:1px solid #4fa5be;border-bottom:1px solid #4fa5be;color:#4fa5be;}
.choice_table .tbody tr.checked td a{color:#4fa5be;}
.checkedTableTitle{color:#fff;height:35px;line-height:35px;line-height:38px/9;*line-height:35px;_line-height:35px;border-bottom:1px solid #1e6269;}
.checkedTableTitle span{background:#1e6269;padding:7px 20px;}
/*S add quesitons choice*/
/* .choice_table{}
.choice_table .tbody{border:solid #FFF;border-width:2px 0px 0px 2px;}
.choice_table .tbody tr{background:#f5f3e3;cursor:pointer;}
.choice_table .tbody tr.uncheck{background:#e3f2f5;}
.choice_table .tbody tr:hover{background:#e4e2d1;}
.choice_table .tbody td{background:none;border:solid #FFF;border-width:0px 1px 6px 0px;}
.choice_table thead th{border:solid #FFF;border-width:0px 1px 6px 0px;}
.choice_table .tbody .tdClick{padding:0 10px;;}
.choice_table .tbody .tdClick input{display:block;height:16px;width:16px; margin:0 auto;} */

.choiceSign{padding:0 5px;}
.choiceContain{}
.choiceAuthor{font-size:12px;padding:0 5px;}

.showDetail{padding:20px;color:#666;}
.showQuestionsTitle{font-size:16px;color:#333;}
.showQuestionsOptions{font-size:16px;}
.showQuestionsOptions span{padding: 5px 20px;display:block;float:left;}
.showTheTrueAnswer{margin-top:20px;}
.showTheTrueAnswer span{padding-right:20px;}
.showTheTrueAnswer .txt{font-weight:bold;}
.showAnalysis{margin-top:20px;}
.showAnalysis .ATxt{font-size:14px;font-weight:bold;}
.showAnalysis .AContain{font-size:14px;padding-left:20px;}
/*E add questions choice*/

/*S add quesitons essay*/

.essay_table .tbody tr.checked{background:#fff;}
.essay_table .tbody tr.checked td{border-top:1px solid #4fa5be;border-bottom:1px solid #4fa5be;color:#4fa5be;}
.essay_table .tbody tr.checked td a{color:#4fa5be;}

/* .essay_table{}
.essay_table .tbody{border:solid #FFF;border-width:2px 0px 0px 2px;}
.essay_table .tbody tr{background:#f5f3e3;cursor:pointer;}
.essay_table .tbody tr.uncheck{background:#e3f2f5;}
.essay_table .tbody tr:hover{background:#e4e2d1;}
.essay_table .tbody td{background:none;border:solid #FFF;border-width:0px 1px 6px 0px;}
.essay_table thead th{border:solid #FFF;border-width:0px 1px 6px 0px;}
.essay_table .tbody .tdClick{padding:0 10px;;}
.essay_table .tbody .tdClick input{display:block;height:16px;width:16px; margin:0 auto;} */

.essaySign{padding:0 5px;}
.essayContain{}
.essayAuthor{font-size:12px;padding:0 5px;}
/*E add questions essay*/

.addResourcesContain{padding:20px;}
.addResourcesContain .txt{}
.addResourcesContain .nav{display:block;border-bottom:1px solid #368e89;}
.addResourcesContain .nav li{display:block;float:left;padding:0 20px;font-size:14px;height:35px;line-height:35px;cursor:pointer;color:#368e89;border:1px solid #fff;border-bottom:0;}
.addResourcesContain .nav li:hover{border:1px solid #368e89;border-bottom:0;}
.addResourcesContain .nav li.selected{color:#FFF;font-size:16px;background:#368e89;cursor:default;border:1px solid #368e89;border-bottom:0;}
.addResourcesContain .resourcestable{border-bottom:1px solid #1e6269;padding:20px 20px 60px;}
.addResourcesContain .resourcestable .resourcestable_uncheck{display:none;}


.resources_table .tbody tr.checked{background:#fff;}
.resources_table .tbody tr.checked td{border-top:1px solid #044e57;border-bottom:1px solid #044e57;color:#518389;}
.resources_table .tbody tr.checked td a{color:#518389;}
/* .resources_table{}
.resources_table .tbody{border:solid #FFF;border-width:2px 0px 0px 2px;}
.resources_table .tbody tr{background:#f5f3e3;cursor:pointer;}
.resources_table .tbody tr.uncheck{background:#e3f2f5;}
.resources_table .tbody tr:hover{background:#e4e2d1;}
.resources_table .tbody td{background:none;border:solid #FFF;border-width:0px 1px 6px 0px;}
.resources_table thead th{border:solid #FFF;border-width:0px 1px 6px 0px;}
.resources_table .tbody .tdClick{padding:0 10px;;}
.resources_table .tbody .tdClick input{display:block;height:16px;width:16px; margin:0 auto;} */

.resourcesContain{}
.resourcesAuthor{font-size:12px;padding:0 5px;}

.fileuploadPart{border: 1px solid #ddd;min-height: 200px;}
.fileuploadPart li{border: 1px dashed #ccc;position: relative;}
.fileuploadPart li .plus{position: absolute;top: 5px; right: 30px;cursor:pointer;}
.fileuploadPart li .subtract{position: absolute;top: 5px; right: 10px;cursor:pointer;}
/*S cover css*/
/* 	.dataTables_wrapper .dataTables_length{padding-bottom:10px;}
	#DataTables_Table_0_filter{padding-bottom:10px;}
	input[type=search]{padding:0 ;height:23px;}
	table.dataTable thead .sorting{background:url(../images/sortBg.png)right center no-repeat; color:#FFF;}
	table.dataTable thead .sorting_desc{background:url(../images/sortBgDesc.png)right center no-repeat;color:#FFF;}
	table.dataTable thead .sorting_asc{background:url(../images/sortBgAsc.png)right center no-repeat;color:#FFF;} */
/*E cover css*/