.page-container{}
.step-page{display: none;}
.step-page.active{display: block;}

.stepSign .controlBtn{}
.stepSign .controlBtn{cursor: pointer;}
.eachStep{background: url(../images/line.png) 13px 0 repeat-y;}
.slideEnd{background: url(../images/experimentadd/slideEnd.png) 7px 0 no-repeat;height: 20px;}
.stepContext{margin-left: 33px;display: none;}

.standardTable{padding-top: 40px;}
.standardTable table{border-left: 1px solid #ddd;border-top: 1px solid #ddd;}
.standardTable table tr td{border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.standardTable textarea{border: none;width: 100%;height: 100%;resize: none;vertical-align: middle;}
.standardTable input[type='text']{border: none;width: 100%;height: 100%;}
.standardTable .standardOrder{position: relative;}
.standardTable .standardOrder i{position: absolute;cursor: pointer;}
.standardTable .standardOrder i.add{left: -30px;}
.standardTable .standardOrder i.del{left: -15px}