@CHARSET "UTF-8";
/* .eachLab{cursor:pointer;}
.eachLab p{margin-bottom:0;}
.eachLab .d2,.eachLab .d3{background:#2e8992;}
.labPost{padding:0;width: 100%;height: 120px;background: #ccc;}
.labPost img{width:100%;display:block;max-height:120px;}
.labNum{right:0;top:0;padding: 0 10px;background: url(../images/s-bg.png) repeat}
.labName{left:0;bottom:0;width:100%;padding: 0 10px;background: url(../images/s-bg.png) repeat}
 */
 .departmentName{white-space:nowrap;overflow:hidden;}

.each-lab{overflow:hidden;height:150px;}
.each-lab p{margin-bottom:0;}
.each-lab .lab-post{display:block;width:100%;min-height:150px;background:#ccc;}
.each-lab .lab-leftCover{top:0;left:0;width:80%;height:100%;background-color:#36aacc;transition:0.3s;background:#36aacc url(../images/each_labBg.png) right center no-repeat;}
.each-lab .lab-leftCover.smart{background:#36aacc url(../images/each_labBg_smart.png) right center no-repeat;}
.each-lab:hover .lab-leftCover{width:20%;}
.each-lab .lab-rightCover{top:0;right:0;height:100%;background-color:rgba(0,0,0,0.6);transition:0.3s;}
.each-lab:hover .lab-rightCover{width:80%;}
.each-lab .lab-content{top:0;left:0;width:100%;transition:0.3s;cursor:pointer;}
.each-lab:hover .lab-content{text-align:right;}

.paging{text-align:center;margin-top:60px;}
.paging .paging_previous,.paging .paging_next{padding:2px 10px;border:1px solid #ddd;}
.paging .paging_previous:hover,.paging .paging_next:hover{background:#4ca3bc;color:#fff;border:1px solid #249bbe;text-decoration: none;}
.paging .paging_this{padding:2px 10px;border:1px solid #ddd;text-decoration: none;}
.paging .paging_this.checked{background:#4ca3bc;color:#fff;border:1px solid #249bbe;}
.paging .paging_jump{border:none;border-bottom: 1px solid #ddd;width:25px;height:25px;line-height:25px;text-align:center;}


.scheduler_default_rowheader_inner{text-align:center;font-size:14px;color: #1e6269;}
.scheduler_default_rowheader_inner div{padding-top:30px;}
.scheduler_default_corner{display: table-cell;vertical-align: middle;text-align: center;font-size: 14px;color: #1e6269;font-weight: bold;}


.selectScreenManageType{display:none;}
.selectScreenManageType p{background: #4cacea;cursor:pointer;letter-spacing:2px;}
.selectScreenManageType p:hover{background: #6ab9ec;}