@charset "UTF-8";

.container-page{padding:30px;}

.container-page .part1{border:1px solid #ddd;margin-bottom:10px;background: url(../images/labBg.jpg);padding:10px;}
.container-page .part1 .labMsg{padding:20px;color:#fff;background:rgba(0,0,0,0.3);}
.container-page .part1 p{font-size:20px;font-weight:bold;letter-spacing:2px;}
.container-page .part1 p.description{font-size:12px;letter-spacing:0;}
.container-page .part1 .labUseCount{top:15px;right:15px;}

.container-page .part2{background-color:#f5f5f5;margin-bottom:10px;}
.container-page .part2 .lab_environment .experimentFont{font-size:36px;}
.container-page .part2 .lab_environment .env-content{font-size:18px;padding-left:20px;position:relative;}
.container-page .part2 .lab_environment .env-content .env-name{position:absolute;top: -15px;left: 20px;font-size:12px;}
.container-page .part2 p{margin-bottom:0;}

.container-page .part3{border:1px solid #ddd;}
.container-page .part3-1 .controlList li{color: #53aac1;margin:10px 0;cursor:pointer;}
.container-page .part3-1 .controlList li div{border:1px solid #ddd;}
.container-page .part3-1 .controlList li.on div{background-color:#f5f5f5;}
.container-page .part3-1 .controlList li p{margin-bottom:0;}
.container-page .part3-1 .controlList li i{font-size:30px;;}

.container-page .part3-2{display:none;}
.container-page .part3-2.on{display:block;}
.container-page .part3-2 .equipmentList{display:none;}
.container-page .part3-2 .equipmentList li{color: #ccc;margin:10px 0;cursor:pointer;}
.container-page .part3-2 .equipmentList li.on{color: #dea037;}
.container-page .part3-2 .equipmentList li p{margin-bottom:0;}
.container-page .part3-2 .equipmentList li i{font-size:30px;;}
.container-page .part3-2 .equipmentList li div{background-color:#fff;}

.container-page .part4{background-color:#f5f5f5;}
.container-page .part4 .seatTotal{padding:10px 20px;}
.container-page .part4 .seatList li{color:#ccc;}
.container-page .part4 .seatList li.on{color:#4bd4e2;}
.container-page .part4 .seatList li div{background-color:#fff;cursor:pointer; border:1px solid #fff;margin:10px 0;}
.container-page .part4 .seatList li.electric div{border:1px solid #4bd4e2;}
.container-page .part4 .seatList li i{font-size:40px;}

.container-page .part5{background-color:#eee;}
.container-page .part5 .inductorList li{color: #ccc;margin:10px 0;}
.container-page .part5 .inductorList li.on{color: #ffad43;}
.container-page .part5 .inductorList li div{border:1px solid #ddd;background:#fff;}
.container-page .part5 .inductorList li.on div{background-color:#f5f5f5;}
.container-page .part5 .inductorList li p{margin-bottom:0;}
.container-page .part5 .inductorList li i{font-size:30px;;}