@charset "UTF-8";

.container-page{padding:30px;}

.container-page .typePart{}
.container-page .typePart li{min-height:100px;margin:10px 0;background-color:#f5f5f5;text-align:center;}
.container-page .typePart li .eachEquipment{color:#4ca3bc;background-color:#fff;cursor:pointer;}
.container-page .typePart li .eachEquipment:hover{background-color:#ebfaff;}
.container-page .typePart li .eachEquipment p{margin-bottom:0;}
.container-page .typePart li .eachEquipment .experimentFont{font-size:40px;}
.container-page .typePart li .typeTitle{font-weight:bold;color:#999;margin-bottom:0;}

.container-page .equipments{}
.container-page .equipments .eachEquipment{color:#4ca3bc;cursor:pointer;}
.container-page .equipments .eachEquipment p{margin-bottom:0;}
.container-page .equipments .eachEquipment div{background-color:#fff;}
.container-page .equipments .eachEquipment div:hover{background-color:#f5fafe;}
.container-page .equipments .eachEquipment .experimentFont{font-size:40px;}


.editType{display: none;}
.editType ul{background-color:#f5f5f5;}
.editType ul li{cursor:pointer;}
.editType ul li.checked{color:#4ca3bc;}
.editType ul li.checked div{border:1px solid #4ca3bc;}
.editType ul li div{background-color:#fff;}
.editType ul li p{margin-bottom:0;}
.editType ul li .experimentFont{font-size:26px;}

.reeditBtn{display:none;}