*{padding:0;margin:0}
li,ul{list-style-type:none}
a{color:#666;text-decoration:none;border:none}
.clear{clear:both}
.cl{clear: both}
body{min-width: 1040px;}

/*public css*/
.fs-12{font-size: 12px}
.fs-14{font-size: 14px}
.fs-16{font-size: 16px}
.fs-18{font-size: 18px}
.fs-20{font-size: 20px}
.fs-22{font-size: 22px}
.fs-24{font-size: 24px}


.fc-white{color: #FFF}
.fc-lightBlue{color: #50a5be}
.fc-green{color: #439a56}
.fc-red{color: #9a4346}
.fc-orange{color: #d6a15d;}
.fc-999{color: #999;}
.fc-666{color: #666}
.fc-333{color: #333;}
.fc-bbb{color: #bbb;}
.fc-darkBlue{color: #235d88;}
.fc-darkGreen{color: #044e56;}


.bc-white{background:#FFF;}
.bc-gray{background: #e6e8ee}
.bc-lightBlue{background: #50a5be}
.bc-lightGray{background: #f2f2f2;}
.bc-darkBlue{background: #235d88;}
.bc-darkGreen{background:#044e56;}


.pd-0{padding: 0;}
.pd-5{padding: 5px;}
.pd-10{padding:10px;}
.pd-15{padding:15px;}
.pd-20{padding:20px;}

.pdt-0{padding-top: 0}
.pdt-5{padding-top: 5px;}
.pdt-10{padding-top: 10px;}
.pdt-15{padding-top: 15px;}
.pdt-20{padding-top: 20px;}

.pdb-0{padding-bottom: 0}
.pdb-5{padding-bottom: 5px;}
.pdb-10{padding-bottom: 10px;}
.pdb-15{padding-bottom: 15px;}
.pdb-20{padding-bottom: 20px;}

.pdl-0{padding-left: 0}
.pdl-5{padding-left: 5px;}
.pdl-10{padding-left: 10px;}
.pdl-15{padding-left: 15px;}
.pdl-20{padding-left: 20px;}

.pdr-0{padding-right: 0}
.pdr-5{padding-right: 5px;}
.pdr-10{padding-right: 10px;}
.pdr-15{padding-right: 15px;}
.pdr-20{padding-right: 20px;}


.mr-0{margin: 0}
.mr-5{margin: 5px;}
.mr-10{margin:10px;}
.mr-15{margin:15px;}
.mr-20{margin:20px;}

.mrt-0{margin-top: 0}
.mrt-5{margin-top: 5px;}
.mrt-10{margin-top: 10px;}
.mrt-15{margin-top: 15px;}
.mrt-20{margin-top: 20px;}

.mrb-0{margin-bottom: 0}
.mrb-5{margin-bottom: 5px;}
.mrb-10{margin-bottom: 10px;}
.mrb-15{margin-bottom: 15px;}
.mrb-20{margin-bottom: 20px;}

.mrl-0{margin-left: 0}
.mrl-5{margin-left: 5px;}
.mrl-10{margin-left: 10px;}
.mrl-15{margin-left: 15px;}
.mrl-20{margin-left: 20px;}

.mrr-0{margin-right: 0}
.mrr-5{margin-right: 5px;}
.mrr-10{margin-right: 10px;}
.mrr-15{margin-right: 15px;}
.mrr-20{margin-right: 20px;}


.fw-bold{font-weight: bold;}
.fw-normal{font-weight: normal;}
.fw-bolder{font-weight: bolder;}



.textIndent-1{text-indent: 1em}
.textIndent-2{text-indent: 2em}

.fl {float: left}
.fr {float: right}


.boxBorder{border: 1px solid #DDD;border-left: none;border-top: none;}



/*S welcome css*/
  .welcomeLeftPart{width: 25%;}
  .welcomeRightPart{width: 75%;}
  
  .title{height: 35px;line-height: 35px;position: relative;}
  .title .more{position: absolute;right: 10px;top: 0;}
  .title .more a{color: #044e56}
  .title .more a:hover{text-decoration: underline;}

/*  .studentDynamics{overflow: hidden;}
  .studentDynamics ul{height: 400px;overflow-y: scroll;margin-right: -14px;}
  .studentDynamics .icon{display: block;width: 30px;}
  .studentDynamics .icon img{display: block;width: 100%;}*/


  .experimentCenterTeacherInfo{}
  .experimentCenterTeacherAvatar{width: 132px;height: 132px;margin: 0 auto -60px;/*padding: 20px 0 5px;*/}
  .experimentCenterTeacherAvatar img{width: 106px;height: 106px;border: 3px solid #f2f2f2;padding: 7px;border-radius: 50%;background: #1e6269;}
  .experimentCenterTeacherMsg{text-align: center;background: #044e56;color: #fff;padding-top: 68px;padding-bottom: 10px;border-right: 1px solid #2d2d2d;}
  .experimentCenterTeacherTxt{text-align: center;padding: 10px 20px;border-top: 1px solid #ddd;background: #1e6269;border-right: 1px solid #2d2d2d; border-bottom:1px solid #2d2d2d;}

  
  .chapterDetailNote .title{border-bottom: 1px solid #88adb1;}
  .chapterDetailNote .title .span{ /* border-bottom: 3px solid #235d88; padding-bottom: 6px; */}
  .chapterDetailNote textarea{width: 100%;height: 80px;resize: none;display: block;border: none;border-bottom: 1px solid #ddd;}
  .chapterDetailNote input[type="button"]{border: none;display: block;float: right;cursor: pointer;}
  .chapterDetailNote input[type="button"]:hover{background:#489198;}
  .chapterDetailNote ul{display: block;}
  .chapterDetailNote ul li{font-size: 0;border:1px solid #ddd;position:relative;}  
  .chapterDetailNote ul li:hover{color:#628da2;cursor: default;}
  .noteAddedTime{font-size: 12px;display: inline-block;width: 23%; max-width: 64px;/*height: 50px;*/background: #489198;color: #FFF;margin: 2%;float: left;}  
  .noteAddedTime .span1{font-size:12px;text-align:center;display: block;}
  .noteAddedTime .span2{text-align:center;display: block;line-height: 28px;border-bottom: 2px solid #FFF;}
  .noteContain{width: 67%;display: inline-block;float: left;}

  .experimentCenterIntro-title{margin-bottom: -20px;color: #1e6269;}
  .experimentCenterIntro-txt{border: 2px solid #1e6269;}


  .experimentCenterControl{}
  .experimentCenterCtrIcon{width: 49%;}
  .experimentCenterCtrRecord{width: 49%;overflow: hidden;}
  .experimentCenterCtrIcon p{border-bottom: 1px solid #88adb1;}
  .experimentCenterCtrIcon p span{/* border-bottom: 3px solid #235d88;padding-bottom: 6px; */}
  .experimentCenterCtrRecord p{border-bottom: 1px solid #88adb1;}
  .experimentCenterCtrRecord p span{/* border-bottom: 3px solid #235d88;padding-bottom: 6px; */}
  .experimentCenterCtrIcon ul{height: 110px;}
  .experimentCenterCtrRecord ul{display: block;margin-right: -14px;height: 133px; overflow-y: scroll;}
  .experimentCenterCtrRecord ul li{position: relative;}
  .experimentCenterCtrRecord ul li span{position: absolute;right: 15px;padding:10px 0;bottom: 0;}
  .experimentCenterCtrIcon li{display: block;float: left;}
  .experimentCenterCtrIcon li a{display: block;}
  .experimentCenterCtrIcon li a img{display: block;}
  .experimentCenterCtrIcon li a span{display: block;text-align: center;width: 60px}
  .experimentCenterCtrRecord li{border-bottom: 1px solid #e0e0e0;}
  .experimentCenterCtrRecord li:hover{background:#e0e0e0;}


  .experimentCenterStuDynamics div{overflow: hidden;}
  .experimentCenterStuDynamics ul{height: 150px;overflow-y: scroll;margin-right: -13px;}
  .experimentCenterStuDynamics li.odd:hover,.experimentCenterStuDynamics li.even:hover{background: #eee;}
  .experimentCenterStuDynamics li{position: relative;}
  .experimentCenterStuDynamics li.odd{background: #e7f4ff;}
  .experimentCenterStuDynamics li.even{background: #fff8e9;}
  .experimentCenterStuDynamics .icon{display: block;width: 30px;}
  .experimentCenterStuDynamics .icon img{display: block;width: 100%;}
  .experimentCenterStuDynamics .title{border-bottom: 1px solid #88adb1;}
  .experimentCenterStuDynamics .title span{/* border-bottom: 3px solid #235d88;padding-bottom: 6px; */}
  .experimentCenterStuDynamics li .span{position: absolute;right: 5px;bottom: 5px;}
  .experimentCenterStuDynamics li i{color: #fff; position: absolute;right: 160px;bottom: 5px;font-style: normal;padding: 0 5px;border-radius: 3px;}

  .departmentNav{border-bottom: 1px solid #88adb1;}
  .departmentNav li{cursor: pointer;}
  .departmentNav li.checked{background: #044e56;border: none;color: #fff;}
  .departmentNav li.checked span:after{content: '';width: 16px;height: 16px;background: url(../images/admin_main/tab01.png) no-repeat;margin-bottom: -16px;margin-left: auto;margin-right: auto;display: block;}
  .experimentCourseStyleTitle{height: 30px;line-height: 30px;position: relative;}
  .experimentCourseStyleTitle .slide{cursor: pointer;}
  .experimentCourseStyleTitle .slide img{padding: 0 5px 3px 0;}
  .eachDepartment{display: none;}
  .eachDepartment.checked{display: block;}
  .eachExperimentCourse{cursor: pointer; margin: 0 auto;display: block;width: 300px;margin-bottom: 10px;}
  .eachExperimentCourse:hover{background:/* url(../images/experimentCourseHover.png) left bottom no-repeat*/ #e8e8e8;}
  .experimentCoursePost{width: 110px;height: 80px;border-left: 5px solid #1e6269;}
  .experimentCoursePost img{display: block;width: 100%;height: 100%;}
  .experimentCourseTeachersList{cursor: default;}
  .experimentCourseTeachersList ul{display: block;}
  .experimentCourseTeachersList .span{display: block;}
  .experimentCourseTeachersList .eachTeacherAvatar{display: block;width: 30px;height: 30px;}
  .experimentCourseTeachersList .eachTeacherAvatar img{display: block;width: 100%;height: 100%;border-radius: 50%;}
  
  /* .footer{padding:15px 0;text-align:center;margin-top:60px;width: 100%;background: #222;color:#FFF;} */
  /*S footer css*/
		.footer{
		    background: #222;
		    width: 100%;
		    border-top: 2px solid #ccc;
		    color: #fff;
		    /*padding: 10px 0;*/
		    font-size: 12px;
		}

		.footerInner{
		    width: 680px;
		    margin: 0 auto;
		}
		
		.footerQR{
		    float: left;
		    padding: 10px;
		}
		
		.footerQR img{
		    width: 80px;
		    height: 80px;
		    background: #fff;
		}
		
		.footerRight{
		    float: left;
		    margin-left: 60px;
		}
		
		.footerTop{
		
		}
		
		.footerTop .d0{
		    float: left;
		    height: 60px;
		    line-height: 60px;
		    line-height: 63px/9;
		    *line-height: 60px;
		    _line-height: 60px;
		    margin-right: 30px;
		}
		
		.footerTop .d1{
		    float: left;
		   /*  height: 30px; */
		    line-height: 30px;
		    line-height: 33px/9;
		    *line-height: 30px;
		    _line-height:30px;
		}
		
		.footerTop .d1 p{
			margin:0;
			height:30px;
		}
		
		.footerTop .d1 p a{
		    color: #fff;
		}
		
		.footerTop .d2{
		    float: left;
		}
		
		.footerTop .d3{
		    float: left;
		    font-size: 14px;
		    margin-top: 20px;
		}
		
		.footerBottom{
		    margin-top: 5px;
		    height: 20px;
		    line-height: 20px;
		    line-height: 20px/9;
		    *line-height: 20px;
		    _line-height: 20px;
		}
		
		.footerBottom li{
		    float: left;
		    margin-right: 30px;
		}
		
		.footerBottom li i{
		    display: block;
		    float: left;
		}
		
		.footerBottom li span{
		    display: block;
		    float: left;
		    margin-left: 5px;
		}
		
		.footerBottom li i img{
		    width: 20px;
		}
/*E welcome css*/