@charset "utf-8";
/* 橙色 */
::-webkit-scrollbar-track{background-color:rgba(220,220,220,0.6);}
::-webkit-scrollbar-thumb{background-color:rgba(180,180,180,0.5);}
::-webkit-scrollbar-thumb:hover {background-color:#ea6300}
::-webkit-scrollbar-thumb:active {background-color:#ea6300}
::-webkit-scrollbar-corner{background-color:#ea6300 }
/*全站默认字体颜色*/
a{color:#333}a:hover,a:focus,.maincolor,.maincolor a{color:#06c}
.navbar{ background:#ea6300}/*顶部导航*/
	.navbar-logo,.navbar-logo-m,.navbar-slogan,.navbar-userbar{color:#fff}/*logo 及 用户信息文字颜色*/
	.navbar-logo:hover,.navbar-logo-m:hover{color:#fff;text-decoration: none}
	
.navbar-nav > ul > li, .navbar-nav > ul > li > a{ color:#fff}/*顶部导航文字颜色*/
.navbar-userbar > ul> > li,.navbar-userbar > ul> > li > a{ color:#fff}

.Hui-aside{}/*侧边栏*/
	.Hui-aside .menu_dropdown dt{color:#f3eae3}/*左侧二级导航菜单*/
	.Hui-aside .menu_dropdown dt:hover{/*color:#ea6300*/ background: #ff852b;}
	.Hui-aside .menu_dropdown dt:hover [class^="icon-"]{ color:#7e8795}
	.Hui-aside .menu_dropdown li a{color:#ffe1cc;border-bottom: 1px solid #e5e5e5}
	.Hui-aside .menu_dropdown li a:hover{color:#ea6300;background-color:#ffbf90}
	.Hui-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{color:#148cf1}
	.Hui-aside .menu_dropdown dt .Hui-iconfont{ color:#f3eae3}
	.Hui-aside .menu_dropdown dt .menu_dropdown-arrow{ color:#f3eae3}	
	.dislpayArrow a{background:url(icon_arrow.png) no-repeat 0 0}
.tabBar {border-bottom: 2px solid #ea6300}
.tabBar span.current{background-color:#ea6300}


.useravatar{
	background: url(avatar_border.png);
}

.Hui-aside{
	background: #ea6300;
}

.Hui-aside .menu_dropdown dt{
	border-bottom: 1px solid #efd3be;
}