body{background: #fff url(../images/scenesBg.jpg) center top repeat;}

.container-page{width: 640px;width: 6.4rem; margin: 60px auto;margin: 1.2rem auto;}
.logo img{width: 30%;}
.lab_sel .form_box select,.lab_passWord .form_box input,.lab_VerificationCode input{width: 100%;height: 50px;height: 0.5rem;line-height: 50px;line-height: 0.5rem;background-color: #fff;border-radius: 25px;border-radius: 0.25rem;border: 1px solid #ddd;padding:0 25px;padding: 0 0.25rem;}
.lab_VerificationCode input{width: 60%;}
.lab_VerificationCode img{width: 35%;height: 50px;height: 0.5rem;}
.lab_sub .btn{display: block;padding: 0.06rem 0.12rem;}

.Validform_wrong{color: #ffc300;}
.Validform_right{color: #72e472;}

@media(max-width: 1024px) {
	.container-page{width: 80%;}
}