<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vcooc.experiment.mapper.ExperimentCourseTeacherMapper">
	<insert id="addExperimentCourseTeacher">
		INSERT INTO experiment_course_teacher(experiment_course_teacher_id,teacher_info_id,experiment_course_id) VALUES
		<foreach collection="teacherInfoIds" item="teacherInfoId" separator=",">
			(NULL ,#{teacherInfoId},#{experimentCourseId})
		</foreach>
	</insert>
</mapper>