<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vcooc.experiment.mapper.ExperimentStepMapper">
	<insert id="addSteps" parameterType="List">
	 INSERT INTO experiment_step(`experiment_id`,`title`,
	 `content`,`content_text`,`file_path`,`exp1`,`step_num`,
	 `stealth`,`create_time`,`update_time`)
     VALUES
      <foreach collection="steps" item="step" separator=",">
      	(#{step.experimentId},#{step.title},
      	#{step.content},#{step.contentText},#{step.filePath},#{step.exp1},${step.stepNum},
      	#{step.stealth},now(),now())
      </foreach>
	</insert>
	<!--查新实验下的步骤，并排序-->
	<select id="selectByExperimentId" resultType="ExperimentStep">
		SELECT * FROM experiment_step WHERE experiment_id = #{experimentId} ORDER BY step_num
	</select>
	<!--根据实验id删除实验步骤-->
	<delete id="deleteByExperimentId">
		DELETE  FROM experiment_step WHERE experiment_id = #{experimentId}
	</delete>
</mapper>