<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vcooc.experiment.mapper.LabClassCardPicWebMapper">


	<!-- 查询该实验室下的图片  resultMap="labpv_map -->
	<select id="SelectByMenuParam" resultType="LabPv">

		SELECT

		pv_id,lab_id,teacher_id,title,file_path,is_publish,type,create_time,update_time

		FROM

		lab_pv
		
		WHERE lab_id = #{labId}
		
		
		<if test="type!= null">
		AND		type =  #{type}
		</if>
		
		LIMIT #{page.startNumber},#{page.pageSize}
		
		
	</select> 
	


	<!-- 查询该实验室下的图片 总数-->
	<select id="SelectCountPage" resultType="Integer">

		SELECT

		COUNT(*)

		FROM

		lab_pv
		
		WHERE lab_id = #{labId}
		
		<if test="isPublish!=null">
		AND		is_publish =  #{isPublish}
		</if>
		<if test="type!= null">
		AND		type =  #{type}
		</if>
		
	</select>





</mapper>