<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vcooc.experiment.mapper.LabClockInRecordMapper" >
  <resultMap id="BaseResultMap" type="com.vcooc.base.pojo.LabClockInRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="clockin_id" property="clockinId" jdbcType="VARCHAR" />
    <result column="enroll_id" property="enrollId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="clocking_time" property="clockingTime" jdbcType="TIMESTAMP" />
    <result column="verify_mode" property="verifyMode" jdbcType="TINYINT" />
    <result column="clockin_mode" property="clockinMode" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
   <!-- 考勤记录用户信息Map -->
  <resultMap type="com.vcooc.experiment.dto.ClockInRecordUserInfoDTO" id="clockin_record_user_info_map">
  	<result column="user_id" property="userId" jdbcType="INTEGER" />
  	<result column="username" property="userName" jdbcType="VARCHAR" />
  	<result column="department_name" property="departmentName" jdbcType="VARCHAR" />
  	<result column="grade_name" property="gradeName" jdbcType="VARCHAR" />
  	<result column="major_name" property="majorName" jdbcType="VARCHAR" />
  	<result column="name" property="name" jdbcType="VARCHAR" />
  	<result column="class_name" property="className" jdbcType="VARCHAR" />
  	
  </resultMap>
  <!-- 考勤记录map -->
  <resultMap type="com.vcooc.experiment.dto.ClockInRecordDTO" id="clockin-Record_map">
  	<result column="id" property="id" jdbcType="BIGINT" />
  	<result column="name" property="name" jdbcType="VARCHAR" />
  	<result column="username" property="userName" jdbcType="VARCHAR" />
  	<result column="lab_name" property="labName" jdbcType="VARCHAR" />
  	<result column="machine_name" property="machineName" jdbcType="VARCHAR" />
  	<result column="clocking_time" property="clockingTime" jdbcType="VARCHAR" />
  	<result column="user_id" property="userId" jdbcType="INTEGER" />
  	
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, clockin_id, enroll_id, user_name, user_id, clocking_time, verify_mode, clockin_mode, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from lab_clock_in_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from lab_clock_in_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.vcooc.base.pojo.LabClockInRecord" >
    insert into lab_clock_in_record (id, clockin_id, enroll_id, 
      user_name, user_id, clocking_time, 
      verify_mode, clockin_mode, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{clockinId,jdbcType=VARCHAR}, #{enrollId,jdbcType=BIGINT}, 
      #{userName,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{clockingTime,jdbcType=TIMESTAMP}, 
      #{verifyMode,jdbcType=TINYINT}, #{clockinMode,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.vcooc.base.pojo.LabClockInRecord" >
    insert into lab_clock_in_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clockinId != null" >
        clockin_id,
      </if>
      <if test="enrollId != null" >
        enroll_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="clockingTime != null" >
        clocking_time,
      </if>
      <if test="verifyMode != null" >
        verify_mode,
      </if>
      <if test="clockinMode != null" >
        clockin_mode,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="clockinId != null" >
        #{clockinId,jdbcType=VARCHAR},
      </if>
      <if test="enrollId != null" >
        #{enrollId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="clockingTime != null" >
        #{clockingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyMode != null" >
        #{verifyMode,jdbcType=TINYINT},
      </if>
      <if test="clockinMode != null" >
        #{clockinMode,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vcooc.base.pojo.LabClockInRecord" >
    update lab_clock_in_record
    <set >
      <if test="clockinId != null" >
        clockin_id = #{clockinId,jdbcType=VARCHAR},
      </if>
      <if test="enrollId != null" >
        enroll_id = #{enrollId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="clockingTime != null" >
        clocking_time = #{clockingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyMode != null" >
        verify_mode = #{verifyMode,jdbcType=TINYINT},
      </if>
      <if test="clockinMode != null" >
        clockin_mode = #{clockinMode,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vcooc.base.pojo.LabClockInRecord" >
    update lab_clock_in_record
    set clockin_id = #{clockinId,jdbcType=VARCHAR},
      enroll_id = #{enrollId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      clocking_time = #{clockingTime,jdbcType=TIMESTAMP},
      verify_mode = #{verifyMode,jdbcType=TINYINT},
      clockin_mode = #{clockinMode,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectUserInfoForClockInRecord" resultMap="clockin_record_user_info_map" parameterType="int">
   		SELECT
			u.id AS user_id,
			u.username,
			d.`name` AS department_name,
			g.`name` AS grade_name,
			m.`name` AS major_name,
			tc.`name` AS class_name,
			s.`name` AS `name`
		FROM
			`user` AS u
		INNER JOIN student_info AS s ON u.id = s.id
		INNER JOIN tb_class AS tc ON s.tb_class_id = tc.id
		INNER JOIN grade AS g ON g.id = tc.grade_id
		INNER JOIN major AS m ON m.id = g.major_id
		INNER JOIN department AS d ON d.id = m.department_id
		WHERE
			u.id = #{userId}
   	
   	</select>
   	<select id="selectUserClockinRecordByClockinIdAndUserId" resultMap="clockin-Record_map">
   		<choose>
   			<when test="sSearch!=null and sSearch!=''">
   				SELECT
					lcr.id,
					el.lab_name,
					lcm.fk_name as machine_name,
					DATE_FORMAT(lcr.clocking_time,'%Y-%m-%d %H:%i:%S') AS clocking_time,
					u.id as user_id
				FROM
					`user` AS u
				INNER JOIN lab_clock_in_record AS lcr ON u.id = lcr.user_id
				INNER JOIN lab_clock_in_machine AS lcm ON lcr.clockin_id = lcm.clockin_id
				INNER JOIN experiment_lab AS el ON lcm.clockin_id = el.clockIn_id
				WHERE
					u.id = #{userId}
					AND lcr.clockin_id = #{clockinId}
				AND (
					el.lab_name LIKE CONCAT(CONCAT('%',#{sSearch}),'%')
					OR  lcm.fk_name LIKE CONCAT(CONCAT('%',#{sSearch}),'%')
				
				)
				ORDER BY  lcr.clocking_time DESC
				limit #{iDisplayStart},#{iDisplayLength}
   			</when>
   			<otherwise>
   				SELECT
					lcr.id,
					el.lab_name,
					lcm.fk_name as machine_name,
					DATE_FORMAT(lcr.clocking_time,'%Y-%m-%d %H:%i:%S') AS clocking_time,
					u.id as user_id
				FROM
					`user` AS u
				INNER JOIN lab_clock_in_record AS lcr ON u.id = lcr.user_id
				INNER JOIN lab_clock_in_machine AS lcm ON lcr.clockin_id = lcm.clockin_id
				INNER JOIN experiment_lab AS el ON lcm.clockin_id = el.clockIn_id
				WHERE
					u.id = #{userId}
					AND lcr.clockin_id = #{clockinId}
				ORDER BY  lcr.clocking_time DESC
				limit #{iDisplayStart},#{iDisplayLength}
   			</otherwise>
   		</choose>
   	</select>
   	
   	<select id="selectUserClockinRecordByUserId" resultMap="clockin-Record_map">
   		<choose>
   			<when test="sSearch!=null and sSearch!=''">
   				SELECT
					lcr.id,
					el.lab_name,
					lcm.fk_name as machine_name,
					DATE_FORMAT(lcr.clocking_time,'%Y-%m-%d %H:%i:%S') AS clocking_time,
					u.id as user_id
				FROM
					`user` AS u
				INNER JOIN lab_clock_in_record AS lcr ON u.id = lcr.user_id
				INNER JOIN lab_clock_in_machine AS lcm ON lcr.clockin_id = lcm.clockin_id
				INNER JOIN experiment_lab AS el ON lcm.clockin_id = el.clockIn_id
				WHERE
					u.id = #{userId}
				AND (
					el.lab_name LIKE CONCAT(CONCAT('%',#{sSearch}),'%')
					OR  lcm.fk_name LIKE CONCAT(CONCAT('%',#{sSearch}),'%')
				
				)
				ORDER BY  lcr.clocking_time DESC
				limit #{iDisplayStart},#{iDisplayLength}
   			</when>
   			<otherwise>
   				SELECT
					lcr.id,
					el.lab_name,
					lcm.fk_name as machine_name,
					DATE_FORMAT(lcr.clocking_time,'%Y-%m-%d %H:%i:%S') AS clocking_time,
					u.id as user_id
				FROM
					`user` AS u
				INNER JOIN lab_clock_in_record AS lcr ON u.id = lcr.user_id
				INNER JOIN lab_clock_in_machine AS lcm ON lcr.clockin_id = lcm.clockin_id
				INNER JOIN experiment_lab AS el ON lcm.clockin_id = el.clockIn_id
				WHERE
					u.id = #{userId}
				ORDER BY  lcr.clocking_time DESC
				limit #{iDisplayStart},#{iDisplayLength}
   			</otherwise>
   		</choose>
   	</select>
   	
   	<select id="selectMachineClockinRecord" resultMap="clockin-Record_map">
   		<choose>
   			<when test="sSearch!=null and sSearch!=''">
   				SELECT
					lcr.id,
					u.username,
					DATE_FORMAT(lcr.clocking_time,'%Y-%m-%d %H:%i:%S') AS clocking_time,
					sinfo.`name`,
					u.id as user_id
				FROM
					`user` AS u
				INNER JOIN lab_clock_in_record AS lcr ON u.id = lcr.user_id
				INNER JOIN lab_clock_in_machine AS lcm ON lcr.clockin_id = lcm.clockin_id
				INNER JOIN student_info AS sinfo
				ON sinfo.id = u.id
				WHERE
					lcr.clockin_id =#{clockinId}
				AND (
					u.username LIKE CONCAT(CONCAT('%',#{sSearch}),'%')
					OR  sinfo.`name` LIKE CONCAT(CONCAT('%',#{sSearch}),'%')
				
				)
				ORDER BY  lcr.clocking_time DESC
				limit #{iDisplayStart},#{iDisplayLength}
   			</when>
   			<otherwise>
  				SELECT
					lcr.id,
					u.username,
					DATE_FORMAT(lcr.clocking_time,'%Y-%m-%d %H:%i:%S') AS clocking_time,
					sinfo.`name`,
					u.id as user_id
				FROM
					`user` AS u
				INNER JOIN lab_clock_in_record AS lcr ON u.id = lcr.user_id
				INNER JOIN lab_clock_in_machine AS lcm ON lcr.clockin_id = lcm.clockin_id
				INNER JOIN student_info AS sinfo
				ON sinfo.id = u.id
				WHERE
					lcr.clockin_id =#{clockinId}
				ORDER BY  lcr.clocking_time DESC
				limit #{iDisplayStart},#{iDisplayLength}
   			</otherwise>
   		</choose>
   	</select>
   	
   	<select id="selectCountByClockinId" resultType="int">
   		SELECT
			count(lcr.id) AS number
		FROM
			lab_clock_in_record AS lcr
		WHERE
			lcr.clockin_id = #{clockinId}
   	</select>
   	
 	<select id="selectCountByUserId" resultType="int">
   		SELECT
			COUNT(lcr.id) AS nubmer
		FROM
			`user` AS u
		INNER JOIN lab_clock_in_record AS lcr ON u.id = lcr.user_id
		INNER JOIN lab_clock_in_machine AS lcm ON lcr.clockin_id = lcm.clockin_id
		INNER JOIN experiment_lab AS el ON lcm.clockin_id = el.clockIn_id
		WHERE
			u.id = #{userId}
   	</select>
   	
    <select id="selectCountByClockinIdAndUserId" resultType="int">
   		SELECT
			COUNT(lcr.id) AS nubmer
		FROM
			`user` AS u
		INNER JOIN lab_clock_in_record AS lcr ON u.id = lcr.user_id
		INNER JOIN lab_clock_in_machine AS lcm ON lcr.clockin_id = lcm.clockin_id
		INNER JOIN experiment_lab AS el ON lcm.clockin_id = el.clockIn_id
		WHERE
			u.id = #{userId} AND lcr.clockin_id =#{clockinId}
   	</select>
   	
   	<select id="selectByIdList"  parameterType="list" resultMap="clockin-Record_map">
   		SELECT
			lcr.id,
			u.username,
			DATE_FORMAT(lcr.clocking_time,'%Y-%m-%d %H:%i:%S') AS clocking_time,
			sinfo.`name`,
			u.id as user_id,
			l.lab_name
			
		FROM
			`user` AS u
		INNER JOIN lab_clock_in_record AS lcr ON u.id = lcr.user_id
		INNER JOIN lab_clock_in_machine AS lcm ON lcr.clockin_id = lcm.clockin_id
		INNER JOIN student_info AS sinfo
		ON sinfo.id = u.id
		INNER JOIN experiment_lab AS l
		ON l.lab_id = lcm.lab_id
		WHERE lcr.id IN 
		<foreach collection="idList" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
   	</select>
   	<select id="selectByClockinId" resultMap="clockin-Record_map">
   		SELECT
			lcr.id,
			u.username,
			DATE_FORMAT(lcr.clocking_time,'%Y-%m-%d %H:%i:%S') AS clocking_time,
			sinfo.`name`,
			u.id as user_id
		FROM
			`user` AS u
		INNER JOIN lab_clock_in_record AS lcr ON u.id = lcr.user_id
		INNER JOIN lab_clock_in_machine AS lcm ON lcr.clockin_id = lcm.clockin_id
		INNER JOIN student_info AS sinfo
		ON sinfo.id = u.id
		WHERE lcr.clockin_id=#{clockinId}
   	</select>
   	
 	<select id="selectByTime" resultMap="clockin-Record_map">
   		SELECT
			lcr.id,
			u.username,
			DATE_FORMAT(lcr.clocking_time,'%Y-%m-%d %H:%i:%S') AS clocking_time,
			sinfo.`name`,
			u.id as user_id
		FROM
			`user` AS u
		INNER JOIN lab_clock_in_record AS lcr ON u.id = lcr.user_id
		INNER JOIN lab_clock_in_machine AS lcm ON lcr.clockin_id = lcm.clockin_id
		INNER JOIN student_info AS sinfo
		ON sinfo.id = u.id
		WHERE lcr.clockin_id=#{clockinId}
		AND lcr.clocking_time BETWEEN  #{startTime}  AND #{endTime}
   	</select>
   	
   	<select id="selectByUserIdAndClockinId" resultMap="clockin-Record_map">
   		SELECT
			lcr.id,
			u.username,
			DATE_FORMAT(lcr.clocking_time,'%Y-%m-%d %H:%i:%S') AS clocking_time,
			sinfo.`name`,
			u.id as user_id,
			l.lab_name
		FROM
			`user` AS u
		INNER JOIN lab_clock_in_record AS lcr ON u.id = lcr.user_id
		INNER JOIN lab_clock_in_machine AS lcm ON lcr.clockin_id = lcm.clockin_id
		INNER JOIN student_info AS sinfo
		ON sinfo.id = u.id
		INNER JOIN experiment_lab AS l
		ON l.lab_id = lcm.lab_id
		WHERE lcr.user_id =#{userId}
		
		<if test="clockinId!=null and clockinId!=''">
			AND lcr.clockin_id=#{clockinId}
		</if> 
   	</select>
   	
   	<select id="selectByUserIdAndClockinIdAndTime" resultMap="clockin-Record_map">
   		SELECT
			lcr.id,
			u.username,
			DATE_FORMAT(lcr.clocking_time,'%Y-%m-%d %H:%i:%S') AS clocking_time,
			sinfo.`name`,
			u.id as user_id,
			l.lab_name
		FROM
			`user` AS u
		INNER JOIN lab_clock_in_record AS lcr ON u.id = lcr.user_id
		INNER JOIN lab_clock_in_machine AS lcm ON lcr.clockin_id = lcm.clockin_id
		INNER JOIN student_info AS sinfo
		ON sinfo.id = u.id
		INNER JOIN experiment_lab AS l
		ON l.lab_id = lcm.lab_id
		WHERE lcr.user_id =#{userId}
		
		<if test="clockinId!=null and clockinId!=''">
			AND lcr.clockin_id=#{clockinId}
		</if> 
		<if test="startTime!=null and startTime!=''">
			AND lcr.clocking_time BETWEEN  #{startTime}  AND #{endTime}
		</if> 
		
   	</select>
   	
   	<select id="countMachineClockinRecordByTime" resultType="int">
   		SELECT
			COUNT(lcr.id) AS nubmer
		FROM
			`user` AS u
		INNER JOIN lab_clock_in_record AS lcr ON u.id = lcr.user_id
		INNER JOIN lab_clock_in_machine AS lcm ON lcr.clockin_id = lcm.clockin_id
		WHERE  lcr.clockin_id=#{clockinId}
		AND lcr.clocking_time BETWEEN  #{startTime}  AND #{endTime}
   	</select>
   	
   	<select id="countUserClockinRecordByTime" resultType="int">
		SELECT
			COUNT(lcr.id) AS nubmer
		FROM
			`user` AS u
		INNER JOIN lab_clock_in_record AS lcr ON u.id = lcr.user_id
		INNER JOIN lab_clock_in_machine AS lcm ON lcr.clockin_id = lcm.clockin_id
		WHERE lcr.user_id =#{userId}
		<if test="clockinId!=null and clockinId!=''">
			AND lcr.clockin_id=#{clockinId}
		</if> 
		<if test="startTime!=null and startTime!=''">
			AND lcr.clocking_time BETWEEN  #{startTime}  AND #{endTime}
		</if> 	
   	
   	</select>
   	
</mapper>