<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vcooc.experiment.mapper.MenuMapper">
	<select id="getMenusByRoleId" parameterType="Integer"
		resultType="Menu">
		SELECT * FROM menu WHERE menu.id IN (SELECT rm.menu_id menu_id FROM
		role_menu rm WHERE rm.role_id = #{roleId})
	</select>
</mapper>