<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.vcooc.experiment.mapper.ResourceCategoryMapper">
     <resultMap type="ResourceCategory" id="ResourceCategoryMapper" autoMapping="true">
           <id column="resourse_category_id" property="resourseCategoryId" />
     </resultMap>
     
     <!-- 根据教师id查询资源标签 -->
     <select id="selectResourceCategoriesTeacherInfoId" parameterType="int" resultMap="ResourceCategoryMapper">
           select resourse_category_id,category_name from resource_category
           where teacher_info_id=#{teacherInfoId} order by create_time desc
     </select>
     
<!-- 批量插入帖子 -->
  <insert id="addResourceCategories" parameterType="java.util.List">
        insert into resource_category (category_name,teacher_info_id,create_time)   
    values  
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.categoryName},#{item.teacherInfoId},#{item.createTime})  
    </foreach> 
  </insert>    

<!-- 批量查询 -->
<select id="queryNames" resultMap="ResourceCategoryMapper">
    SELECT
    resourse_category_id,category_name
    from resource_category 
    WHERE category_name in 
    <foreach collection="list" item="item" open="(" close=")" separator=",">
         #{item.categoryName}
    </foreach>
    and teacher_info_id=#{teacherInfoId}
    </select>
</mapper>