<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vcooc.experiment.mapper.StudnetInfoMapper">
	
	<!-- 查询班级下所有学生id -->
	<select id="selectStudentIdsByClassId" parameterType="int" resultType="int">
	           select id from student_info 
	           where tb_class_id=#{classId}
	</select>
</mapper>